
@{
    ViewData["Title"] = "ForgetPassword";
}


<div class="row">
    <div class="col mx-auto col-sm-4 bg-light border rounded p-3">
        <h3 class="text-center mb-3" id="brand-primary-color">Forgot Password</h3>
        <hr id="brand-primary-color" />
        @if (ViewBag.SuccessMessages != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@ViewBag.SuccessMessages</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        }

        <form method="post">
            <div class="row mb-3">
                <label class="form-label" >Enter your email</label>
                <div>
                    <input class="form-control mb-2" required type="email" name="email" value="@ViewBag.Email" />
                    <span class="text-danger">@ViewBag.Errors</span>
                </div>
            </div>

            <div class="row mb-3 ">
                <div class="col d-grid">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
                <div class="col d-grid">
                    <a class="btn btn-outline-primary " asp-controller="Account" asp-action="login">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
