@model PasswordDTO
@{
    ViewData["Title"] = "Password";
}

<div class="row p-2">
    <div class="col-lg-4 mx-auto rounded border border-2 p-4 bg-light">
        <h3 class="text-center mb-3" id="brand-primary-color">Reset Password</h3>
        <hr id="brand-primary-color" />
        @* <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> //method2*@
        @if (ViewBag.ErrorMessages != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@ViewBag.ErrorMessages</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        }
        @if (ViewBag.SuccessMessages != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@ViewBag.SuccessMessages</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
                <a class="btn btn-success mt-2" asp-action="profile" asp-controller="account">Return to profile</a>
            </div>
        }

        <form method="post">
            <div class="row mb-2">
                <label asp-for="CurrentPassword" class="form-label ">Current Password*</label>
                <div>
                    <input class="form-control" type="password" asp-for="CurrentPassword" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2">
                <label asp-for="NewPassword" class="form-label">New Password*</label>
                <div>
                    <input class="form-control" type="password" asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label">Confirm New Password*</label>
                <div>
                    <input  class="form-control" type="password" asp-for="ConfirmNewPassword"/>
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col d-grid">
                    <a asp-controller="Account" asp-action="profile" class="btn btn-outline-primary" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
