@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
<div class="row p-1" >
    <div class="col mx-auto col-sm-4 bg-light border rounded p-3">
        <h2 class="text-center mb-3" id="brand-primary-color">Reset Your Password</h2>
        <hr id="brand-primary-color" />
        <div asp-validation-summary="ModelOnly" role="alert" class="text-danger"></div>
        @if (ViewBag.Errors != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@ViewBag.Errors</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        }

        <form asp-action="ResetPassword" method="post">
            <input asp-for="UserId" type="hidden" />
            <input asp-for="Token" type="hidden" />

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


